{% extends 'base.html' %}
{% block title %}

Edit request {{ request[2] }}
{% endblock %}
{% block content %}
    <h1>Edit request {{ request[2] }}</h1>
    <form action="/editrequest/{{ request[0] }}" method="POST">
        <label for="title">title</label>
        <input type="text" name="title" id="title" value="{{ request[2] }}">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="{{ request[3] }}">
        <label for="category">Category</label>
        <input type="text" name="category" id="category" value="{{ request[4] }}">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" value="{{ request[5] }}">
        <input type="submit" value="Submit">
    </form>
{% endblock %}