{% extends 'base.html' %}
{% block title %}

Home
{% endblock %}
{% block content %}
    <h1>Welcome {{ session.name }} </h1>
    <br>
    <a href="/logout">Logout</a>
    <br>
    <a href="/createlisting">Create Listing</a>
    <br>
    <a href="/createrequest">Create Request</a>
    <br>
    <a href="/viewmylistings">My Listings</a>
    <br>
    <a href="/viewmyrequests">My Requests</a>
    <br>
    <a href="/viewlistings">View Listings</a>
    <br>
    <a href="/viewrequests">View Requests</a>

    
{% endblock %}