<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
   
     <style type="text/css">
		body{
			background: #e5e4e7;

background: -webkit-linear-gradient(to right, #c0c6c6, rgb(175, 180, 180));

background: linear-gradient(to right, #d5e7e7, rgb(198, 220, 226))
		}
          .gradient-custom {
background: #e5e4e7;

background: -webkit-linear-gradient(to right, #c0c6c6, rgb(175, 180, 180));

background: linear-gradient(to right, #d5e7e7, rgb(198, 220, 226))
}
     </style>
    
</head>
<body>

	
	<section class="vh-100 gradient-custom">
		<div class="container py-5">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
			  <div class="card bg-dark text-white" style="border-radius: 1rem;">
				<div class="card-body text-center">
	  
				  <div class="">
	  
					<h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
					<div>{{ msg }}</div>
					
					<form action="/register" method="post">

						<div class="form-outline form-white mb-4">
							<label class="form-label" for="type">Full Name</label>
							<input id="name" name="name" type="text" placeholder="Enter Your Full Name" class="form-control form-control-lg"/>
						</div>
						<div class="form-outline form-white mb-4">
							<label class="form-label" for="type">Phone Number</label>
							<input id="phone" name="phone" type="text" placeholder="Enter Your Phone Number" class="form-control form-control-lg"/>
						</div>
					<div class="form-outline form-white mb-4">
					  <label class="form-label" for="typeEmailX">Email</label>
					  <input id="typeEmailX" name="email" type="email" placeholder="Enter Your Email" class="form-control form-control-lg"/>
					  
					</div>
	  
					<div class="form-outline form-white mb-4">
						<label class="form-label" for="typePasswordX">Password</label>
					  <input id="password" name="password" type="password" class="form-control form-control-lg"/>
					</div>

					<div class="form-outline form-white mb-4">
						<label class="form-label" for="typePasswordX">Confirm Password</label>
					  <input id="confirmPassword" name="confirmPassword" type="password" class="form-control form-control-lg"/>
					</div>

					<button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
					
					</form>
					<br>
					<a class="btn btn-outline-light btn-lg px-5" href="/">Home</a>
				  </div>
				  
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
</body>
</html>