<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Requests</title>
</head>
<body>
    <h1>My Requests</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Expected price</th>
            <th>Date Requested</th>
            <th>Actions</th>
    
        </tr>
        {% for request in requests %}
        <tr>
            <td>{{ request[2] }}</td>
            <td>{{ request[3] }}</td>
            <td>{{ request[4] }}</td>
            <td>{{ request[5] }}</td>
            <td>{{ request[6] }}</td>
            <td><a href="/editrequest/{{ request[0] }}">Edit</a> | <a href="/deleterequest/{{ request[0] }}" onclick="return confirm('Are you sure want to delete this listing?')">Delete</a></td>
           
        {% endfor %}
    </table>
    
</body>
</html>