{% extends 'base.html' %}
{% block title %}

My listings
{% endblock %}
{% block content %}
    <h1>My Listings</h1>
    <table class="neon-table">
        <tr>
            
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Date listed</th>   
            <th>Actions</th> 
            <th>Image</th>     
        </tr>
        {% for listing in listings %}
        <tr>
           
            <td>{{listing[2]}}</td>
            <td>{{listing[3]}}</td>
            
            <td>{{listing[4]}}</td>
            
            <td>{{listing[5]}}</td>
            <td>{{listing[6]}}</td>
            <td><a href="/editlisting/{{listing[0]}}">Edit</a> | <a href="/deletelisting/{{listing[0]}}" onclick="return confirm('Are you sure want to delete this listing?')">Delete</a></td>
            <td><img src="{{ url_for('static',filename='uploads/'+ listing[0]|string +'.jpg') }}"  alt="{{ listing[4] }}" width="100" height="100"></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}