<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View listings</title>
</head>
<body>
    <h1>View listings</h1>
    <table>
        <tr>
            
            <th>Title</th>
            <th>Listed by</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Date listed</th>         
        </tr>
        {% for listing in listings %}
        <tr>
           
            <td>{{listing[2]}}</td>
            <td>{{listing[1]}}</td>
            <td>{{listing[3]}}</td>
            
            <td>{{listing[4]}}</td>
            
            <td>{{listing[5]}}</td>
            <td>{{listing[6]}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>