{% extends 'base.html' %}
{% block title %}

View listings
{% endblock %}
{% block content %}
    <h1>View listings</h1>
    <table class="neon-table">
        <tr>
            
            <th>Title</th>
            <th>Seller ID</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Date listed</th>        
            <th>Image</th> 
        </tr>
        {% for listing in listings %}
        <tr>
           
            <td>{{listing[2]}}</td>
            <td>
                <a href="{{ url_for('otherprofile', id=listing[1]) }}">
                {{listing[1]}}
                </a>
            </td>
            <td>{{listing[3]}}</td>
            
            <td>{{listing[4]}}</td>
            
            <td>{{listing[5]}}</td>
            <td>{{listing[6]}}</td>
            <td><img src="{{ url_for('static',filename='uploads/'+ listing[0]|string +'.jpg') }}" alt="{{listing[5]}}" width="100" height="100"></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}